**/target/
**/*.iml
**/*.ipr
**/*.iws
**/sd.xml
**/mdb*.properties
jboss-hornetq-testsuite/log
**/*.log
.classpath
.project
.settings
test-suite.log*
**/ObjectStore*
**/PutObjectStoreDirHere*
/jboss-hornetq-testsuite/.idea/