**/target/
**/*.iml
**/*.ipr
**/*.iws
**/sd.xml
**/mdb*.properties
jboss-hornetq-testsuite/log
**/*.log
.classpath
.project
.settings
nb-configuration.xml
nbactions.xml
test-suite.log*
**/ObjectStore*
**/PutObjectStoreDirHere*
/jboss-hornetq-testsuite/.idea/
**/tmp.txt
**/server*
**/log
**/jboss-eap*
**/.gitignore~
**/.idea
